{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
<p class="big">

    <p> In this experiment, you will be repeatedly matched with a randomly selected person in the room. During each <b>match</b>, you will be asked to make decisions over a sequence of <b>rounds</b>.</p>

    <p> The length of a sequence is randomly determined and depends on your choice and the choice of the person you are paired with. </p>

    <p>The points you can obtain in each round of a match depend on your choice and the choice of the person you are paired with. The table below represents all the possible outcomes:</p>

    <table class='table table-bordered text-center' style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>The Other Participant</th>
        </tr>
        <tr>
            <th>Action 1</th>
            <th>Action 2</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90">You</span></th>
            <th>Action 1</th>
            <td>{{ Constants.PayoffCC }}, {{ Constants.PayoffCC }}</td>
            <td>{{ Constants.PayoffDC }}, {{ Constants.PayoffCD }}</td>
        </tr>
        <tr>
            <th>Action 2</th>
            <td>{{ Constants.PayoffCD }}, {{ Constants.PayoffDC }}</td>
            <td>{{ Constants.PayoffDD }}, {{ Constants.PayoffDD }}</td>
        </tr>
    </table>

    <p> The table shows the points associated with each combination of your choice and choice of the person you are paired with.
        The first entry in each cell represents the points you obtain for that round, while the second entry represents the points obtained by the person you are paired with.</p>

    <ul>
        <li> (1,1): Your choice is 1 and the other’s choice is 1, you each make {{ Constants.PayoffCC }}.</li>
        <li> (1,2): Your choice is 1 and the other’s choice is 2, you make {{ Constants.PayoffCD }} while the other makes {{ Constants.PayoffDC }}.</li>
        <li> (2,1): Your choice is 2 and the other’s choice is 1, you make {{ Constants.PayoffDC }} while the other makes {{ Constants.PayoffCD }}.</li>
        <li> (2,2): Your choice is 2 and the other’s choice is 2, you each make {{ Constants.PayoffDD }}.</li>
    </ul>

    <p>At the end of each round, you will see your choice (1 or 2) and the choice of the person you were paired with (1 or 2).</p>

    <p> At the end of the round, there is a probability that the match will continue for at least another round. The probability will depend on your choice and the choice of the person you are paired with.  </p>
    <ul>
        <li> There is 67% chance that the match will continue for at least another round if you and the person you are paired with both choose action 1.
            This is as if we would roll a 6-sided dice and continue if number is equal to 1, 2, 3, or 4. </li>
        <li> There is 50% chance that the match will continue for at least another round if action 2 was chosen at least once.
            This is as if we would roll a 6-sided dice and continue if number is equal or lower than 1, 2, or 3.</li>
    </ul>
    <p> Remember, if you are in round 2, the probability there will be a third round is as it would in round 9. </p>

    <p> Once a match ends, you will be paired randomly with someone for a new match. You will not be able to identify who you've interacted with in previous or future matches. </p>

    <p> Each part of the experiment will generate points that count towards your final payoff. In this part, one match will be randomly selected to count towards your final payoff.
        You will receive an additional $5 show-up fee for your participation. You will only be informed of your payoffs at the end of the experiment. </p>

    <p> This part will last for 45 minutes. </p>

    {% next_button %}

{% endblock %}

{% block styles %}
    <style type="text/css">
        .big{
            font-size: large;
        }
    </style>
{% endblock %}
