{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Quiz
{% endblock %}

{% block content %}
    <h3>Please complete the following quiz:</h3>

    {{ formfields }}

        <button type="submit" class="btn btn-primary">Next</button>
    </form>

        <p> Payoffs for each combination of choices: </p>

            <table class='table table-bordered text-center' style='width: auto; margin: auto'>
                <tr>
                    <th colspan=2 rowspan=2></th>
                    <th colspan=2>The Other Participant</th>
                </tr>
                <tr>
                    <th>Choice 1</th>
                    <th>Choice 2</th>
                </tr>
                <tr>
                    <th rowspan=2><span class="rotate90">You</span></th>
                    <th>Choice 1</th>
                    <td> <span style="color: dodgerblue;">{{ Constants.PayoffCC }}</span>, <span style="color: purple;">{{ Constants.PayoffCC }}</span></td>
                    <td><span style="color: dodgerblue;">{{ Constants.PayoffCD }}</span>, <span style="color: purple;">{{ Constants.PayoffDC }}</span></td>
                </tr>
                <tr>
                    <th>Choice 2</th>
                    <td> <span style="color: dodgerblue;">{{ Constants.PayoffDC }}</span>, <span style="color: purple;">{{ Constants.PayoffCD }}</span></td>
                    <td> <span style="color: dodgerblue;">{{ Constants.PayoffDD }}</span>, <span style="color: purple;">{{ Constants.PayoffDD }}</span></td>
                </tr>
            </table>

            <p> Rule for determining if match continues: </p>
            <ul>
                <li> If your choice in the previous round was 1 and the other person's choice was also 1: </li>
                <img src="{% static 'images/dices_4.png' %}" style="max-width: 60%; height: auto; display: block; margin: auto;">
                <li> If at least one of you chose 2:</li>
                <img src="{% static 'images/dices_3.png' %}" style="max-width: 60%; height: auto; display: block; margin: auto;">
            </ul>
{% endblock %}