{% extends "global/Page.html" %}
{% load static %}


{% block content %}
<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9; text-align: center;">
<h3 style="color: #333;">End of Part 1</h3>
    <div style="margin-bottom: 20px;">

        <p style="font-size: 20px;"> This is the end of part 1. There is going to be part 2. </p>

        <p style="font-size: 20px;"> You will know the chosen match and the payment for that match at the end of the experiment.</p>

        <p style="font-size: 20px;"> Wait for the experiment to continue.</p>
    </div>
</div>
{% endblock %}